/* *{
    box-sizing: border-box;
}
* h1,h3, p{
    color:#4d5151 ;
}
*{
    font-family: sans-serif;
} */


/* Sub_item's */




/* #parent_2>div>a>img{
    width: 100%;
} */




 /* */
 

 /* #field{
    border: 2px solid blueviolet;
    margin-top:50px;
} */




/* #body{
    margin-top: 50px;
    border: 1px solid blue;
}
 */
