#slider{
    margin-top: 50px;
    color: #444444;
}
#silder{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.contain{
    position: relative;
    text-align: center;
    color: white;
}
.centerd_text{
    width: 100%;
    padding: 10px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}